@import "tailwindcss";

.perrot-gray {
  color: #262a2b;
}

a {
  @apply text-black;
}

a:hover {
  @apply underline text-black;
}

body {
  @apply text-black;
  box-sizing: border-box;
  margin: 0;
  overflow-x: hidden;
}

